<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/css/bootstrap-reboot.css">
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
<header>
    <nav th:replace="fragments/navbar :: navbar"/>
</header>
<main>
    <div class="container-lg">
        <div class="container-sm" style="justify-content: center; text-align: center; margin-top: 30px">
            <h3>어떤 작업을 원하시나요?</h3>
        </div>
        <form action="/search" method="get" class="d-flex" style="margin-top: 10px">
            <input class="form-control me-2" name="keyword" type="keyword" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <div class="container-sm" style="justify-content: center; text-align: center; margin-top: 30px">
            <button type="button" class="btn btn-secondary">가즈아</button>
            <button type="button" class="btn btn-secondary">간드아</button>
            <button type="button" class="btn btn-secondary">손절매</button>
            <button type="button" class="btn btn-secondary">투자</button>
            <button type="button" class="btn btn-secondary">투기</button>
        </div>
        <div class="container-lg" style="margin-top: 50px">
            <h3>해당 지역의 인기 프로젝트</h3>
            <div class="container-lg">
                <div class="row" style="margin-bottom: 2rem">
                    <div class="col">
                        <div class="card" style="width: 15rem;">
                            <img src="https://support.apple.com/content/dam/edam/applecare/images/en_US/repair/repair-raza_2x.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">가즈아</h5>
                                <p class="card-text">평균가: 5~6만원</p>
                                <a href="#" class="btn btn-primary">작업을 맡겨볼까요?</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 2rem">
                    <div class="col">
                        <div class="card" style="width: 15rem;">
                            <img src="https://support.apple.com/content/dam/edam/applecare/images/en_US/repair/repair-raza_2x.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">성공</h5>
                                <p class="card-text">평균가: 5~6만원</p>
                                <a href="#" class="btn btn-primary">작업을 맡겨볼까요?</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 15rem;">
                            <img src="https://support.apple.com/content/dam/edam/applecare/images/en_US/repair/repair-raza_2x.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">합격</h5>
                                <p class="card-text">평균가: 5~6만원</p>
                                <a href="#" class="btn btn-primary">작업을 맡겨볼까요?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
</footer>
</body>
</html>